{% extends 'accountStorage/layout.html' %}
{% block content %}
    <button id="btnUpload" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"
            onclick="UploadEvent()">
        上传模板
    </button>
    <!-- 上传Small modal -->
    <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <p>
                    <input type="file" class="form-control" name="upload" id="file_uploads" required/>
                </p>
                <button id="btnUploadExcel" class="btn btn-info form-control" type="submit" onclick="uploads()"
                        value="submit">上传
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">

        function UploadEvent() {
            $('#modalUpload').modal('show');
        }
        function uploads() {
            const form_data = new FormData();
            form_data.append('files', $('#file_uploads')[0].files[0]);
            $.ajax({
                type: 'post',
                contentType: false,
                processData: false,
                data: form_data,
                success: function (callback) {
                    alert('上传完成!')
                    location.reload();
                }
            })
        }

    </script>
{% endblock %}